language = "csharp"
run = "mcs -out:main.exe 'Projeto12/main.cs' 'Projeto12/curso.cs' 'Projeto12/categoria.cs' 'Projeto12/ncategoria.cs' 'Projeto12/ncurso.cs' 'Projeto12/aluno.cs' 'Projeto12/naluno.cs' 'Projeto12/vendacurso.cs' 'Projeto12/venda.cs' 'Projeto12/nvenda.cs' 'Projeto12/arquivo.cs'; mono main.exe"